[submodule "frontend/sellgar.ui.admin"]
	path = frontend/sellgar.ui.admin
	url = git@github.com:pyatakovvg/sellgar.ui.admin.git
	branch = master
[submodule "frontend/sellgar.ui.kit"]
	path = frontend/sellgar.ui.kit
	url = git@github.com:pyatakovvg/sellgar.ui.kit.git
	branch = master
[submodule "frontend/sellgar.ui.desktop"]
	path = frontend/sellgar.ui.desktop
	url = git@github.com:pyatakovvg/sellgar.ui.desktop.git
	branch = master
[submodule "mobile/sellgar.mobile"]
	path = mobile/sellgar.mobile
	url = git@github.com:pyatakovvg/sellgar.mobile.git
	branch = master
[submodule "backend/sellgar.admin.gateway"]
	path = backend/gateway/sellgar.admin.gateway
	url = git@github.com:pyatakovvg/sellgar.admin.gateway.git
	branch = master
[submodule "backend/sellgar.product.service"]
	path = backend/service/sellgar.product.service
	url = git@github.com:pyatakovvg/sellgar.product.service.git
	branch = master
[submodule "backend/sellgar.identity.service"]
	path = backend/service/sellgar.identity.service
	url = git@github.com:pyatakovvg/sellgar.identity.service.git
	branch = master
[submodule "backend/sellgar.file.service"]
	path = backend/service/sellgar.file.service
	url = git@github.com:pyatakovvg/sellgar.file.service.git
	branch = master
[submodule "backend/sellgar.media.service"]
	path = backend/service/sellgar.media.service
	url = git@github.com:pyatakovvg/sellgar.media.service.git
	branch = master
[submodule "backend/service/sellgar.store.service"]
	path = backend/service/sellgar.store.service
	url = git@github.com:pyatakovvg/sellgar.store.service.git
	branch = master
[submodule "backend/service/sellgar.shop.service"]
	path = backend/service/sellgar.shop.service
	url = git@github.com:pyatakovvg/sellgar.shop.service.git
	branch = master
